include top_menu.jade

.col-lg-12.row.top-row.enabled-projects-row.dashboard-row
    h2
        | Enabled projects
        a.btn.btn-default.add-project-button(
            href='#/projects/manage/', tooltip='Add new project',
            tooltip-placement='right'
        )
            i.icon-plus
    .col-lg-12.project-line(ng-repeat="project in projects")
        img.project-icon(ng-src='{{project.icon}}')
        i.icon-lock(ng-show="project.is_private")
        a(href='#/projects/{{project.name}}') {{project.name}}
        br
        canvas(
            fullfill, linechart, options='project.chart.options',
            data='project.chart.data', height=100
        )
    .col-lg-12.project-line(ng-show='!projects.length')
        You don't have enabled projects.

.col-lg-12.row.last-tasks-row.dashboard-row
    h2 Last performed tasks
    .col-lg-12.holder(
        infinite-scroll='tasks.load()',
        infinite-scroll-distance='2'
    )
        .col-lg-12.row.task-line(
            ng-repeat='task in tasks.items'
            class='{{task.status == 1 && "success" || "failed"}}'
        )
            .col-lg-4.task-options
                .col-lg-12.row
                    span.description project:
                    a(href='#/projects/{{task.project}}/') {{task.project}}
                .col-lg-12.row
                    span.description commits:
                    a(href='#/tasks/{{task.id}}/').
                        {{task.commit.branch}}\#{{task.commit.range}}
                .col-lg-12.row
                    span.description pusher:
                    a(href='{{task.lastCommit.author.url}}')
                        img.pusher-icon(ng-src='{{task.lastCommit.author.avatar}}')
                        |  {{task.commit.author}}
                .col-lg-12.row
                    span.description created:
                    span {{task.created}}
            .col-lg-8.commit-info
                p {{task.commit.summary}}
                p.preview-commit(ng-repeat='commit in task.lastCommits')
                    a.commit-hash(href='{{commit.url}}') {{commit.hash}}&nbsp;
                    a(href='{{commit.author.url}}')
                        img.pusher-icon(ng-src='{{commit.author.avatar}}')
                        |  {{commit.author.name}}
                    | : {{commit.message}}
                p.preview-commit(ng-show='task.commitsToExpand')
                    a(href='#/tasks/{{task.id}}/') And {{task.commitsToExpand}} more commits.
            .percent-badge {{task.success_percent||0}}%
        .col-lg-12(ng-show='!tasks.items.length') You don't have finished tasks.
