include top_menu.jade

.col-lg-12.row.top-row.enabled-projects-row.dashboard-row
    h2
        | Enabled projects
        a.btn.btn-default.add-project-button(
            href='#/projects/manage/', tooltip='Add new project',
            tooltip-placement='right'
        )
            i.icon-plus
    table.table.table-hover
        tr(ng-repeat="project in projects")
            td
                img.project-icon(ng-src='{{project.icon}}')
                i.icon-lock(ng-show="project.is_private")
                a(href='#/projects/{{project.name}}') {{project.name}}
                br
                canvas(
                    fullfill, linechart, options='project.chart.options',
                    data='project.chart.data', height=100
                )

.col-lg-12.row.last-tasks-row.dashboard-row
    h2 Last performed tasks
    table.table.table-hover(
        infinite-scroll='tasks.load()',
        infinite-scroll-distance='2'
    )
        tr(
            ng-repeat='task in tasks.items'
            class='{{task.status == 1 && "success" || "failed"}}'
        )
            td
                a(href='#/projects/{{task.project}}/') {{task.project}}
                | :&nbsp;
                a(href='#/tasks/{{task.id}}/').
                    {{task.commit.branch}}\#{{task.commit.range}}
            td {{task.success_percent}}%
            td
                span.pull-right {{task.created}}
