include top_menu.jade

.col-lg-12.row.top-row.manage-projects-row
    h2 Manage projects
    table.table.table-hover
        tr(ng-show='loading')
            td Fetching repositories from GitHub...
        tr(ng-repeat="project in projects")
            td
                img.project-icon(ng-src='{{project.icon}}')
                i.fa.fa-lock.lock-icon(ng-show="project.is_private")
                a(href='/projects/{{project.name}}') {{project.name}}
            td
                .btn-group.pull-right
                    button.btn.btn-default(
                        type='button', ng-model='project.is_enabled',
                        btn-radio='true',
                        class='{{ project.is_enabled && "btn-success" || "btn-default" }}'
                    ) Yes
                    button.btn.btn-default(
                        type='button', ng-model='project.is_enabled',
                        btn-radio='false',
                        class='{{ project.is_enabled && "btn-default" || "btn-danger" }}'
                    ) No
