include top_menu.jade

.col-lg-12.row.top-row.project-info.project-page-row
    h2
        a(href='{{project.url}}')
            i.fa.fa-github
            |  {{project.name}}&nbsp;
        a(
            href='', ng-click='$parent.showSettings()',
            ng-show='project.can_change',
            tooltip='Settings', tooltip-placement='right',
        )
            i.fa.fa-wrench
    .col-lg-12.row
        .col-lg-3.row
            a(href='', ng-click="toggleBadgeHelp()")
                i.fa.fa-collapse
                |  Get badge&nbsp;
                img(ng-src='{{project.badge_url}}')
        .col-lg-3.row
            select.form-control(
                ng-model='branch', ng-options='branch for branch in branches'
            )
                option(value='') Show all
        .col-lg-6.row.project-token.pull-right(ng-show='project.can_change')
            | Token:&nbsp;
            code {{project.token}}
            button.btn.btn-danger.btn-xs(
                type='button', tooltip='Regenerate', tooltip-placement='right',
                ng-click='$parent.showConfirmRegenerateToken = true',
            )
                i.fa.fa-repeat
            .alert.alert-danger.col-lg-12(ng-show='showConfirmRegenerateToken')
                h4 Are you sure wnat to regenerate token?
                p It will break all applications depend on it.
                p
                    button.btn.btn-danger(
                        ng-click='regenerateToken(); showConfirmRegenerateToken = false'
                    ) Yes
                    button.btn.btn-default(
                        ng-click='showConfirmRegenerateToken = false'
                    ) No
    .col-lg-12.row(ng-show='showBadgeHelp')
        .col-lg-4
            strong Markdown
            pre.prettyprint.
                [![Violations]({{project.badge_url}})]
                (https://{{domain}}/#/project/{{project.name}})
        .col-lg-4
            strong HTML
            pre.prettyprint.
                &lt;a href='https://{{domain}}/#/project/{{project.name}} %}'&gt;
                    &lt;img src='{{project.badge_url}}' alt='Violations' /&gt;
                &lt;/a&gt;
        .col-lg-4
            strong RST
            pre.prettyprint.
                .. image:: {{project.badge_url}}
                :target: https://{{domain}}/#/project/{{project.name}}

.col-lg-12.row.project-page-row.project-charts
    tabset
        tab(heading='Metric charts')
            .col-lg-4.row.project-chart-row(ng-repeat='chart in charts')
                h3 {{chart.name}}
                nvd3-line-chart(
                    id='chart-{{chart.id||chart.name}}',
                    data='chart.data', width='350', height='220',
                    showYAxis="true", interactive="true", tooltips="true",
                    tooltipcontent='getChartTooltip', interpolate="linear",
                    margin='{left:30,top:10,bottom:0,right:0}'
                )
                    svg
                br
                span.plot-color-line(ng-repeat='color in chart.colors')
                    span.plot-color-row(style="background-color: {{color.code}}")
                    |  {{color.name}}
        tab(heading='Depend on time')
            .col-lg-4.row.project-chart-row(ng-repeat='chart in dateCharts')
                h3 {{chart.name}}
                canvas(
                    barchart, options='chart.options', data='chart.data',
                    width=350, height=220
                )

.col-lg-12.last-tasks-row.row.project-page-row
    .col-lg-12.holder(
        infinite-scroll='tasks.load()',
        infinite-scroll-distance='2'
    )
        .col-lg-12.row.task-line(
            ng-repeat='task in tasks.items'
            class='{{task.status == 1 && "success" || "failed"}}'
        )
            .col-lg-4.task-options
                .col-lg-12.row
                    span.description commits:
                    a(href='#/tasks/{{task.id}}/').
                        {{task.commit.branch}}\#{{task.commit.range}}
                .col-lg-12.row
                    span.description pusher:
                    a(href='{{task.lastCommit.author.url}}')
                        img.pusher-icon(ng-src='{{task.lastCommit.author.avatar}}')
                        |  {{task.commit.author}}
                .col-lg-12.row
                    span.description created:
                    span {{task.created}}
                .col-lg-12.row(ng-show='(task.violations |filter:{status: 1}).length')
                    span.description success:
                    .violations-list
                        span(ng-repeat='violation in task.violations |filter:{status: 1}')
                            | {{violation.name}}{{!$last && ', ' || ''}}
                .col-lg-12.row(ng-show='(task.violations |filter:{status: 2}).length')
                    span.description failed:
                    .violations-list
                        span(ng-repeat='violation in task.violations |filter:{status: 2}')
                            | {{violation.name}}{{!$last && ', ' || ''}}
            .col-lg-8.commit-info
                p {{task.commit.summary}}
                p.preview-commit(ng-repeat='commit in task.lastCommits')
                    a.commit-hash(href='{{commit.url}}') {{commit.hash}}&nbsp;
                    a(href='{{commit.author.url}}')
                        img.pusher-icon(ng-src='{{commit.author.avatar}}')
                        |  {{commit.author.name}}
                    | : {{commit.message}}
                p.preview-commit(ng-show='task.commitsToExpand')
                    a(href='#/tasks/{{task.id}}/') And {{task.commitsToExpand}} more commits.
            .percent-badge {{task.success_percent||0}}%
        .col-lg-12(ng-show='!tasks.items.length && loaded') This project don't have finished tasks.
