.modal-dialog
    .modal-content.col-lg-12
        .modal-header
            button.close(
                type='button', ng-click='close()', aria-hidden='true'
            ) &times;
            h3 Project settings
        .modal-body
            table.table.table-hover
                tr
                    td Enabled
                    td
                        .btn-group.pull-right
                            button.btn.btn-default(
                                type='button', ng-model='project.is_enabled',
                                btn-radio='true',
                                class='{{ project.is_enabled && "btn-success" || "btn-default" }}'
                            ) Yes
                            button.btn.btn-default(
                                type='button', ng-model='project.is_enabled',
                                btn-radio='false',
                                class='{{ project.is_enabled && "btn-default" || "btn-danger" }}'
                            ) No
                tr(ng-show='project.is_private')
                    td Comment pull requests from owner account
                    td
                        .btn-group.pull-right
                            button.btn.btn-default(
                                type='button', ng-model='project.comment_from_owner_account',
                                btn-radio='true',
                                class='{{ project.comment_from_owner_account && "btn-success" || "btn-default" }}'
                            ) Yes
                            button.btn.btn-default(
                                type='button', ng-model='project.comment_from_owner_account',
                                btn-radio='false',
                                class='{{ project.comment_from_owner_account && "btn-default" || "btn-danger" }}'
                            ) No
                tr
                    td Default branch for project page
                    td
                        select.form-control(
                            ng-model='project.default_branch',
                            ng-options='branch for branch in project.branches'
                        )
                            option(value='') Show all
                tr
                    td Branch for dashboard page chart
                    td
                        select.form-control(
                            ng-model='project.dashboard_branch',
                            ng-options='branch for branch in project.branches'
                        )
                            option(value='') Show all
