.modal-dialog
    .modal-content.col-lg-12
        .modal-header
            button.close(
                type='button', ng-click='close()', aria-hidden='true'
            ) &times;
            h3 Project settings
        .modal-body
            table.table.table-hover
                tr
                    td Enabled
                    td
                        .btn-group.pull-right
                            button.btn.btn-default(
                                type='button', ng-model='project.is_enabled',
                                btn-radio='true'
                            ) Yes
                            button.btn.btn-default(
                                type='button', ng-model='project.is_enabled',
                                btn-radio='false'
                            ) No
                tr(ng-show='project.is_private')
                    td Comment pull requests from owner account
                    td
                        .btn-group.pull-right
                            button.btn.btn-default(
                                type='button', ng-model='project.comment_from_owner_account',
                                btn-radio='true'
                            ) Yes
                            button.btn.btn-default(
                                type='button', ng-model='project.comment_from_owner_account',
                                btn-radio='false'
                            ) No
                tr
                    td Default branch for project page
                    td
                        select.form-control(
                            ng-model='project.default_branch',
                            ng-options='branch for branch in project.branches'
                        )
                            option(value='') Show all
